*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #fd0f0f;
    --secondary-color: #ffffff;
    --tertiary-color: #000000;
    --quaternary-color: #dad7d7;
}
.claro{
    --primary-color: #fd0f0f;
    --secondary-color: #ffffff;
    --tertiary-color: #000000;
    --quaternary-color: #dad7d7;
}
.escuro{
    --primary-color: #4e0101;
    --secondary-color: #000000;
    --tertiary-color: #602525;
    --quaternary-color: #7d7d7d;
}
body{
    background-color: var(--quaternary-color);
}
header{
    display: flex;
    gap: 10px;
    align-items: center; /*Alinhamento vertical*/
    justify-content: center; /*Alinhamento horizontal*/

    background-color: var(--primary-color);
    margin: 5px;
    border: 3px solid var(--tertiary-color);
    border-radius: 10px;
}


header img{
    width: 20vw;
}

header h1{
    font-size: 8vw;
    color: var(--quaternary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticias {
    margin-top: 20px;
    margin-left: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.noticia{
    width: 30%;
    padding: 50px;
    border: 2px solid var(--tertiary-color);
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}
.noticia h2{
    text-align: center;
    margin-bottom: 15px;
}
header button{
    position: absolute;
    top: 25px;
    right: 25px;

    padding: 1vw;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    background-color: var(--quaternary-color);


    color: var(--tertiary-color);
    font-weight: bold;
    cursor: pointer;
}

header button:hover{
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

header button:active{
    border: 2px solid var(--primary-color);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}